.list-container {
  min-width: 200px;
  margin: 15px 10px 0 10px;
}

.list-item {
  padding: 0 10px;
  transition: all .3s ease;
  cursor: pointer;
}

/*.list-item:hover {*/
  /*background-color: blue;*/
/*}*/
